<div class="offset-md-3 col-md-6">
	<div class="card text-center">
		<div class="card-body">
			<h2 class="card-title">Workout Lounge!</h2>
			<h4 class="card-text">Show off your workout to your friends</h4>
		</div>
	</div>
	<br>
	<div class="offset-md-3 col-md-6">
		<% if user_signed_in? %>
			<h3 class="text-center">List of Members</h3>
			<div class="members-pagination"><%= will_paginate @athletes %></div>
			<% @athletes.each do |athlete| %>
				<p><%= link_to athlete.name, user_exercises_path(athlete),
																		 class: "btn btn-lg btn-block btn-default homeview-btn" %></p>
				
			<% end %>
		<% else %>
				<p>
				<%= link_to ">> SIGN UP <<", new_user_registration_path,
																		 class: "btn btn-lg btn-default homeview-btn" %>
			</p>
			<p>
				<%= link_to ">> LOG IN <<", new_user_session_path,
																		class: "btn btn-default homeview-btn" %>
			</p>
		<% end %>
	</div>
</div>