@import "bootstrap";
@import 'bootstrap/glyphicons';

body {
	font-size: 1.3rem;
	background-color: #FFFCF5;
	color: #424242;
}


/* Top Navbar */

.top-navbar {
	padding-bottom: 30px;
}

.top-navbar .navbar, .top-navbar .navbar a {
	padding: 10px;
	color: #575757;
	font-weight: bold;
	background-color: #DE9B00;
	.navbar-brand {
		font-size: 1.7rem;
		margin: auto 30px;
	}
	.navbar-text {
		margin: auto 20px auto 30px;
	}
	.nav-item, form {
		margin: auto 10px;
	}
	a:hover, .active {
		text-decoration: underline;
	}
	.navbar-form .btn-light {
		margin-left: 10px;
	}
}


/* Main Body */

.card {
	background-color: #E0E0E0;
	border-radius: 10px;
}

.athlete-card {
	margin: 10px auto;
	a, a:hover {
		color: #424242;
	}
}

.friends-card {
	margin: 10px auto;
	padding: 3px 40px;
	a, a:hover {
		color: #424242;
	}
}

.btn-default {
	background-color: #DE9B00;
	color: #575757;
}

.btn:hover {
	color: #575757;
	border: 1px solid grey;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
}

.homeview-btn {
	font-weight: bold;
}

.members-pagination, .members-pagination .page-link {
	margin: auto;
	color: #575757;
}

.member {
	margin: 5px 0 5px 30px;
}

#followers {
	.btn {
		margin: 10px auto;
	}
}

/* Error Messages */

#error_explanation {
	padding: 10px;
	border-radius: 10px;
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

#chat-box {
	max-height: 400px;
	overflow: auto;
	#chat-messages {
		overflow-y: scroll;
	}
}

/* Footer */

footer {
	float:right;
	padding-top: 20px;
	margin-right: 30px;
}